AZURE_SEARCH_ENDPOINT=https://<search-name>.search.windows.net
AZURE_SEARCH_INDEX=docuagent-index
AZURE_DOCINTEL_ENDPOINT=https://<docintel-name>.cognitiveservices.azure.com
AZURE_SPEECH_ENDPOINT=https://<speech-name>.cognitiveservices.azure.com
AZURE_SPEECH_REGION=eastus
AZURE_CONTENTSAFETY_ENDPOINT=https://<safety-name>.cognitiveservices.azure.com
AZURE_FOUNDRY_ENDPOINT=https://<foundry-name>.cognitiveservices.azure.com
AZURE_FOUNDRY_DEPLOYMENT=gpt-4o-mini
APPLICATIONINSIGHTS_CONNECTION_STRING=<from bicep output>
USE_MANAGED_IDENTITY=true